@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0
}

body {
  height: 100vh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --bgColor: #171B34;


    --primaryColor: white;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --fontHome: fonthome;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

.fontTitle {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fonthome {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.borderDashed {
  border: dashed white 2px;

}

.borda-input {
  border: 1px solid white;
}




.bgimg {
  position: relative;
  overflow: hidden;

}

.bgimg::before {
  content: "";
  opacity: 30;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/img/graficos.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 20%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 0;
}

.bgimg-blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/img/graficos.png');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(300px);
  -webkit-filter: blur(100px);
  z-index: 0;
}

.bgimg img,
.bgimg>div {
  position: relative;
  z-index: 1;

}

.bordaa {
  border: 1px solid blue;
}




@layer base {
  * {
    @apply border-border;
  }

  body {
    scroll-behavior: smooth;
    @apply bg-background text-foreground;
  }
}

.flutuando {
  transform: translateY(0px);
  animation: float 3s ease-in-out infinite;
}

section:target {
  scroll-margin-top: 170px
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}